.button {
  background-color: blueviolet;
  color: white;
  padding: 20px 30px;
  border-radius: 15px;
  align-items: center;
  border: none;
  gap: 20px;
}

.buttonForm {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 45px;
}
.formbutton {
  background-color: #4a026b;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
}
.btn {
  background-color: #4a026b;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
}
